<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Cible pour enregistrer les logs dans un fichier -->
		<target name="logfile" xsi:type="File" fileName="logs/logfile.txt" layout="${longdate} | ${level:uppercase=true} | ${message}" />

		<!-- Cible pour afficher les logs dans la console (utile pour Debug) -->
		<target name="console" xsi:type="Console" layout="${longdate} | ${level:uppercase=true} | ${message}" />

		<!-- Cible pour enregistrer les logs internes de NLog -->
		<target name="internalLogFile" xsi:type="File" fileName="logs/nlog-internal.txt" layout="${longdate} ${level} ${message}" />
	</targets>

	<rules>
		<!-- Capture tous les logs de niveau Info et supérieur dans le fichier -->
		<logger name="*" minlevel="Info" writeTo="logfile" />

		<!-- Capture tous les logs de niveau Debug et supérieur dans la console, pour Debug -->
		<logger name="*" minlevel="Debug" writeTo="console" />

		<!-- Capture tous les logs internes de NLog dans un fichier séparé -->
		<logger name="NLog.Internal" minlevel="Trace" writeTo="internalLogFile" />
	</rules>
</nlog>
